Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: mediumaquamarine;
    text-align: center;


}
.btn-primary {
    background-color: purple;
    width: 6%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;

    cursor: pointer;
    position: center;
}

.btn-primary a{
    text-decoration: none;
    color: orange;
}

form {



}
input[type=text], input[type=password], input[type=email] {
    width: 40%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;

}
button:hover {
    opacity: 0.7;
}

.g-recaptcha{
    display: flex;
    justify-content: center;
}