<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <!--<a class="navbar-brand" href="#" th:href="@{/admindashboard}">Dashboard</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/admindashboard}">Dashboard</a>
            <a class="nav-item nav-link" th:href="@{/adminprofile}">My Profile</a>
            <a class="nav-item nav-link" th:href="@{/adminlist}">Admin Users</a>
            <a class="nav-item nav-link" th:href="@{/users}">Users <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/inboxadmin}">Inbox</a>
        </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <a class="nav-item nav-link" th:href="@{/login}">Logout</a>
    </form>
</nav>

<div th:fragment="banner">
    <h2>FUTURE ENHANCEMENT</h2>
    <img th:src="@{/img/banner.png}" alt="UNDER-CONSTRUCTION"/>
</div>
</body>
</html>
