<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Information Profile</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/creditprofile}" method="post">
<div style="text-align: center;">
    <h1>Add New Card</h1>

    <label  class="radio-inline">
        <input type="radio" name="cardType" id="mastercard"  value="mastercard" checked="checked"/>Master Card
    </label>
    <label  class="radio-inline">
        <input  type="radio" name="cardType"  id="visa" value="visa"/>Visa
    </label>
    <label  class="radio-inline">
        <input  type="radio" name="cardType"  id="amex" value="amex"/>American Express
    </label>

        <div class="form-group">
            <label for="expDate">Expiration Date </label><input autofocus="autofocus" class="form-control" id="expDate" th:name="expDate" type="datetime-local"/>
        </div>

        <div class="form-group">
            <label for="name">Card Holder Name </label><input autofocus="autofocus" class="form-control" id="name" th:name="name" type="text"/>
        </div>

        <div class="form-group">
            <label for="cardNum">Credit Card Number </label><input autofocus="autofocus" class="form-control" id="cardNum" th:name="cardNum" type="number"/>
        </div>

        <div class="form-group">
            <input class="form-control" id="defaultCard" th:name="defaultCard" type="checkbox"/><label for="defaultCard">Save as Default or Preferred</label>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <input type="submit" name="addCreditProfile" id="addCreditProfile" class="form-control btn btn-primary" value="Add/Update"/>
            </button>
        </div>
</div>
    <!--
<div style="text-align: right";>
    <h1>List existing cards</h1>
    <p th:each="creditprofile:${creditprofiles}">

    <p th:text="${creditprofile.cardtype}"></p>
    <p th:text="${creditprofile.expdate}"></p>
    <p th:text="${creditprofile.name}"></p>
    <p th:text="${creditprofile.cardnum}"></p>
    <p th:text="${creditprofile.defaultcard}"></p>
    </p>
</div>
-->
</form>
</body>
</html>