<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/users}" method="post">
    <div style="text-align: center;">
        <h1>Update Profile</h1>

        <div class="form-group">
            <label for="firstname">First Name </label><input autofocus="autofocus" class="form-control" id="firstname" th:name="firstname" type="text"/>
        </div>

        <div class="form-group">
            <label for="lastname">Last Name </label><input autofocus="autofocus" class="form-control" id="lastname" th:name="lastname" type="text"/>
        </div>

        <div class="form-group">
            <label for="email">Email </label><input autofocus="autofocus" class="form-control" id="email" th:name="email" type="email"/>
        </div>

        <div class="form-group">
            <label for="address">Address </label><input autofocus="autofocus" class="form-control" id="address" th:name="address" type="text"/>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <input type="submit" name="updateAdminProfile" id="updateAdminProfile" class="form-control btn btn-primary" value="Update"/>
            </button>
        </div>
    </div>
</form>
</body>
</html>