<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Support</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: mediumaquamarine">
<div th:replace="adminfragments :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="p-2">
                <form th:action="@{/supportadmin}" method="post">
                    <div style="text-align: center;">
                        <h1>Support</h1>

                        <div class="form-group d-flex align-items-center justify-content-around">
                            <label for="firstname">First Name </label><input autofocus="autofocus" class="form-control profile-form-control" id="firstname" th:name="firstname" type="text"/>
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-around">
                            <label for="lastname">Last Name </label><input autofocus="autofocus" class="form-control profile-form-control" id="lastname" th:name="lastname" type="text"/>
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-around">
                            <label for="address">Address </label><input autofocus="autofocus" class="form-control profile-form-control" id="address" th:name="address" type="text"/>
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-around">
                            <label for="email">Email </label><input autofocus="autofocus" class="form-control profile-form-control" id="email" th:name="email" type="email"/>
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-around">
                            <label for="password">Password </label><input autofocus="autofocus" class="form-control profile-form-control" id="password" th:name="password" type="password"/>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="addAdminUser" id="addAdminUser" class="form-control btn btn-primary" value="Add"/>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm" style="max-height: 500px;overflow-y: auto;">
            <div class="d-flex flex-column align-items-center">
                <div th:each="user:${adminusers}">
                    <div th:text="${user.firstName}"></div>
                    <div th:text="${user.lastName}"></div>
                    <div th:text="${user.email}"></div>
                    <div th:text="${user.address}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

